:root {
  --main-background-color: #333;
  --second-background-color: #f8ac1e;
  --main-text-color: white;
  --second-text-color: var(--second-background-color);
}

body {
  margin: 0;
  background: var(--main-background-color);
  /*  need to change background later
  linear-gradient(109.6deg, rgb(38, 38, 38) 11.2%, rgb(235, 171, 54) 91.3%) */
  overflow-x: hidden;
  color: var(--main-text-color);
}


* {font-family: 'Roboto', sans-serif;}
/* font-family: 'Roboto', sans-serif; */