:root {
  /* Variable for main theme - Dark theme */
  --dark-main-background-color: linear-gradient(
    45deg,
    hsl(0deg 0% 0%) 0%,
    hsl(344deg 0% 0%) 0%,
    hsl(344deg 0% 1%) 1%,
    hsl(344deg 0% 1%) 1%,
    hsl(344deg 0% 2%) 2%,
    hsl(344deg 0% 2%) 3%,
    hsl(344deg 0% 3%) 4%,
    hsl(344deg 0% 3%) 6%,
    hsl(344deg 0% 4%) 8%,
    hsl(344deg 0% 5%) 11%,
    hsl(344deg 0% 5%) 14%,
    hsl(344deg 0% 6%) 18%,
    hsl(344deg 0% 6%) 25%,
    hsl(344deg 0% 7%) 36%,
    hsl(344deg 0% 7%) 75%,
    hsl(344deg 0% 8%) 88%,
    hsl(33deg 23% 12%) 93%,
    hsl(35deg 40% 18%) 96%,
    hsl(36deg 50% 24%) 98%,
    hsl(37deg 57% 30%) 99%,
    hsl(37deg 63% 36%) 100%,
    hsl(38deg 68% 43%) 100%,
    hsl(38deg 73% 49%) 100%,
    hsl(39deg 94% 55%) 100% 
  );
  --dark-element-background-color: #333;
  --dark-main-text-color: #d2d2d2;

/* Variable for specials colours  */
  --special-color: #f8ac1e;
 
/* Variables for light theme color */
  --light-main-background-color: linear-gradient(34deg, rgba(255,255,255,1) 7%, rgba(238,238,238,1) 87%, rgba(253,170,15,1) 99%);
  --light-element-background-color: #eee;
  --light-main-text-color: #2e2e2e;

}

.dark {
  background: var(--dark-main-background-color);
  color :  var(--dark-main-text-color);

}

.light {
  background: linear-gradient(34deg, rgba(255,255,255,1) 7%, rgba(238,238,238,1) 87%, rgba(253,170,15,1) 99%);
  color : var(--light-main-text-color);
}


body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;  
}


body {font-family: 'Inter', sans-serif !important;}
h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif !important;}