.game-list-favorite {
  height: 300px;
  width: 100%;
  border: none;
}

.game-list-favorite-dark .single-game-dark {
  padding: 20px;
  background: rgb(41, 41, 41);
  background: linear-gradient(
    129deg,
    rgb(26, 25, 25) 70%,
    rgba(243, 161, 10, 0.4) 100%
  );
  box-shadow: #141414 0px 0px 10px 0px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.game-list-favorite-light .single-game-light {
  padding: 20px;
  background: #eee;
  background: linear-gradient(129deg, #eee 73%, rgba(248, 172, 30, 0.4) 100%);
  box-shadow: #a09e9efe 0px 0px 15px 4px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.single-game {
  width: auto;
}
img.game-photo {
  min-width: 20vh;
}

@media screen and (min-width: 800px) {
  .favorite-container-dark {
    height: 100%;
    background: #292929;
    box-shadow: #121212 0px 0px 10px 0px;
  }

  .favorite-container-light {
    height: 100%;
    background: #eee;
    box-shadow: #a09e9efe 0px 0px 15px 4px;
  }
}

.unlike {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/heartUnlike.svg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
}
.like {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/heart.svg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
}
.game-name-dark h5 {
  color: #eee;
}

.game-name-light h5 {
  color: #333;
}
