@media screen and (max-width: 800px) {
  .title-game-list {
    font-size: 1em;
    cursor: pointer;
  }

  .text-personalize {
    font-size: 0.8em;
  }

  .image-container {
    margin-top: 1.5em;
  }
}
.button-personalize {
  margin: 0.4em;
}

.test {
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.title-game-list {
  cursor: pointer;
}

.image-list {
  box-shadow: rgb(63, 63, 63) 0px 0px 5px;
  cursor: pointer;
}

.cards-dark {
  background-color: rgb(32, 32, 32);
  box-shadow: rgb(23, 22, 22) 0px 0px 10px;
}

.cards-light {
  background-color: #eee;
  box-shadow: rgb(161, 161, 161) 0px 0px 10px;
}

/********* Metacritic Button ********/

.metacriticGreen {
  margin-left: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #65cc33;
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8rem;

  cursor: pointer;
  font-weight: bolder;
  color: white;
}

.metacriticYellow {
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 196, 0);
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8rem;

  cursor: pointer;
  font-weight: bolder;
  color: white;
}

.metacriticRed {
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8rem;

  cursor: pointer;
  font-weight: bolder;
  color: white;
}
