
.dropdown-menu{
  background-color: var(--punctuation-color);
  }

/* Special color for make the glass effect */
.navbar {
  background-color: #FDAA0F;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
    
}

.link-nav,
.nav-item {
  cursor: pointer;
  opacity: 1;
}


.like-search {
  box-shadow: inset -5px 5px 9px #1e1e1e, inset 5px -5px 9px #3d3d3d;
}

.nav-link:hover,
a:active,
a:hover {
  color: white;
}

.dropdown-item:hover {
  background-color: transparent;
  color: white;
}

.navbar-toggler-icon {
  color: black;
}
.navbar-toggler:focus {
  color: transparent;
}

.form-check-input{
  background-color: #eee;
  
}
.form-check-input:checked{
  background-color: #eee;
  border : 1px solid black
}

.form-switch .form-check-input:checked{
  background-color: #333;
  border: none;
}

 .form-check-input .form-check-input:focus, .form-check-input:active{
  box-shadow: none;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 10, 0, 0.25%29'/%3e%3c/svg%3e") ;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 10, 0, 0.25%29'/%3e%3c/svg%3e");
}