.author {
  display: flex;
  justify-content: flex-end;
}

.ourpi-img {
  box-shadow: rgb(22, 22, 22) 0px 2px 15px;
}

.text-personalized {
  font-size: 1.2em;
}

.title {
  color: var(--special-color);
}

.card-personnalized-dark {
  background-color: rgb(32, 32, 32);
  box-shadow: rgb(23, 22, 22) 0px 0px 10px;
}

.card-personnalized-light {
  background-color: #eee;
  box-shadow: rgb(161, 161, 161) 0px 0px 10px;
}
