.search-button {
  height: 5vh;
  width: 5vw;
  background-color: transparent;
  border: none;
}
.search {
  border-radius: 10px;
  background: var(--dark-element-background-color);
  box-shadow: inset -5px 5px 9px #0f0f0f, inset 5px -5px 9px #3a3a3abe;
}

.search-bar-light {
  border-radius: 10px;
  background: #eee;
  box-shadow: inset -5px 5px 9px #d4d3d3, inset 5px -5px 9px #ffffffbe;
}

.search-bar::placeholder {
  font-style: italic;
  opacity: 0.4;
}

.search-bar {
  width: 90%;
}

/* Css dans la barre */
.search input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 20px; /* taille du titre dans l'input*/
  position: relative;
  left: 20px;
  color: var(--second-text-color);
}
