.navigation {
  position: fixed;
  border-radius: 0px;
  background: linear-gradient(315deg, #ca9f51, #f0bd60);
  width: 100vw;
  bottom: 0;
}
.navigation-ul {
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.navigation-ul li {
  width: 30vw;
  color: black;
}
