.search {
  display: flex;
}
.search-button {
  height: 3vh;
  position: relative;
  left: 90px;
  background-color: #26262600;
  color: white;
  border: none;
}
.search {
  border-radius: 10px;
  background: #262626;
  box-shadow: inset -5px 5px 9px #0f0f0f, inset 5px -5px 9px #3d3d3d;
  max-width: 100%;
  padding: 20px;
  margin: 30px;
}

/* Css dans la barre */
.search input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 20px; /* taille du titre dans l'input*/
  position: relative;
  left: 20px;
  color: #e0b15a;
}

