.platform {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
  background: #e0b15a;
  color: #333;
 }

  .genreList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
  
  
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  background: #e0b15a;
  color: #333;
 } 

 .metacriticGreen {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #65cc33;
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8rem;
 
  cursor: pointer;
  font-weight: bolder;
  
}

.metacriticYellow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: yellow;
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8rem;
 
  cursor: pointer;
  font-weight: bolder;
}

.metacriticRed {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8rem;
 
  cursor: pointer;
  font-weight: bolder;
}

.li {
  margin: 0;
}