.gamePageContainer {
  height: 40vh;
  border: 1px solid rgba(158, 147, 47, 0.171);
  margin: 3rem;
}
.gamePageContainer img {
  height: 25vh;
  width: 98vw;
}
.gamePageContainer h2 {
  font-size: 1rem;
  margin: 1rem;
}
.fav-metacritic {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 1rem;
}
