body {
  margin: 0;
  background: linear-gradient(109.6deg, rgb(38, 38, 38) 11.2%, rgb(235, 171, 54) 91.3%);
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #e0b15a;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 50px;
}


